.nav {
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-bg-input);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.nav-left,
.nav-right {
  flex: 0 0 auto;
  min-width: 40px;
  display: flex;
  align-items: center;
}

.nav-center {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.nav-title {
  color: var(--color-text-primary);
  text-decoration: none;
}
