.weather-container {
  display: flex;
  flex-direction: column;

  max-width: 900px;
  min-height: 85vh;
  margin: 0 auto;
  gap: var(--spacing-xl);
  justify-content: center;
  padding: var(--spacing-xl);
}

.weather-city {
  text-align: center;
  font-size: var(--font-size-xl);
}
.weather-date {
  text-align: center;
  font-size: var(--font-size-l);
}

.weather-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xl);
}

@media (max-width: 768px) {
  .weather-container {
    padding: var(--spacing-md);
  }

  .weather-top-row {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-md);
  }
}
